.desc {
    padding-bottom: 35px;
    &__banner {
        margin: -325px auto 0;
        position: relative;
        z-index: 2;
        width: 1000px;
        border-radius: 20px;
        border: 4px solid #508CEC;
        & img {
            width: 100%;
            border-radius: 20px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        color: #23303F;
        margin-top: 34px;
    }
    &__subtitle {
        margin-top: 19px;
        font-weight: 300;
        font-size: 17px;
        line-height: 24px;
        text-align: center;
        color: #23303F;
    }
    &__links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        &-item {
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            color: #23303F;
            border-bottom: 1px dashed #23303F;
            margin: 0 25px;
            &:hover {
                border-color: transparent;
            }
        }
    }
}

.advantages {
    background-image: url(../img/frame/advantages-bg.png);
    padding: 33px 0;
    position: relative;
    &__bg-text {
        pointer-events: none;
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0.68;
        height: 450px;
        & img {
            height: 100%;
            width: auto;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 35px;
        text-align: center;
        color: #23303F;
    }
    &__desc {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-top: 12px;
        color: #2A3848;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        width: 350px;
        margin-top: 23px;
        color: #23303F;
        &:nth-child(3n) {
            width: 320px;
        }
        &-title {
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
            & span {
                color: #E63E3E;
            }
            & strong {
                font-size: 18px;
            }
        }
        &-desc {
            font-size: 14px;
            line-height: 20px;
            margin-top: 10px;
        }
    }
}

.info {
    padding: 40px 0;
    &__title {
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        color: #23303F;
    }
    &__content {
        margin-top: 9px;
        display: none;
        min-height: 235px;
        &-list {
            width: 480px;
            flex-shrink: 0;
            & li {
                font-weight: 300;
                font-size: 16px;
                line-height: 26px;
                color: #23303F;
                position: relative;
                padding-left: 23px;
                &:before {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: #5281EC;
                    left: 3px;
                    top: 11px;
                }
            }
        }
        &-right {
            flex-grow: 1;
            margin-left: 35px;
            display: flex;
            justify-content: flex-end;
            & img {
                max-width: 100%;
            }
        }
    }
    &__content--active {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__tabs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
    }
    &__tab {
        font-weight: normal;
        font-size: 15px;
        line-height: 130%;
        text-align: center;
        color: #23303F;
        padding-bottom: 5px;
        border-bottom: 1px dashed transparent;
        &:hover {
            color: #4B79ED;
            cursor: pointer;
        }
    }
    &__tab--active {
        color: #000000;
        border-color: #000;
        pointer-events: none;
    }
}

.quote {
    background: url(../img/frame/swan.svg);
    background-repeat: no-repeat;
    background-position: left 150px bottom 0;
    background-color: rgba(#F6F7FB, 0.11);
    padding: 40px 0;
    &__title {
        font-weight: bold;
        font-size: 30px;
        line-height: 50px;
        text-align: center;
        color: #23303F;
    }
    &__desc {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
        font-weight: 300;
        font-size: 22px;
        line-height: 35px;
        text-align: right;
        color: #000000;
        & span {
            margin: 0 17px;
        }
        & svg {
            flex-shrink: 0;
        }
    }
    &__author {
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
        text-align: right;
        color: #000000;
        padding-right: 42px;
    }
}

.price {
    padding: 40px 0;
    background-repeat: no-repeat;
    // background-color: rgba( #F6F7FB, 11.51%);
    background-image: url(../img/frame/price-bg.png);
    background-size: 100% 100%;
    position: relative;
    &__img {
        position: absolute;
        right: 0;
        bottom: -50px;
    }
    &__inner {
        position: relative;
        z-index: 2;
    }
    &__title {
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        color: #23303F;
    }
    &__price {
        font-weight: bold;
        font-size: 45px;
        text-align: center;
        color: #23303F;
        margin-top: 20px;
        & span {
            font-size: 35px;
        }
        &-hint {
            margin-top: 5px;
            color: #E63E3E;
            text-align: center;
            font-size: 25px;
        }
    }
    &__desc {
        margin-top: 21px;
        & p {
            font-weight: normal;
            font-size: 18px;
            line-height: 160%;
            text-align: center;
            color: #23303F;
            &:last-child {
                margin-top: 25px;
                font-style: italic;
            }
        }
    }
    &__btn {
        box-sizing: border-box;
        border-radius: 10px;
        margin: 30px auto 0;
        width: 296px;
        height: 68px;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
    }
}

@media screen and (max-width: 1200px) {
    .desc {
        &__banner {
            width: 950px;
            width: 100%;
        }
    }
    .advantages {
        &__bg-text {
            height: 300px;
        }
        &__item {
            width: 33%;
            &:nth-child(3n) {
                width: 33%;
            }
        }
    }
    .quote {
        &__desc {
            font-size: 21px;
            line-height: 30px;
        }
    }
    .price {
        &__img {
            width: 700px;
            bottom: -40px;
            display: none;
        }
    }
}

@media screen and (max-width: 1000px) {
    .desc {
        &__title {
            line-height: 133%;
            padding: 0 90px;
        }
    }
    .advantages {
        &__item {
            width: calc(50% - 10px);
            &:nth-child(3n) {
                width: calc(50% - 10px);
            }
        }
    }
    .info {
        &__tab {
            &:not(:last-child) {
                margin-right: 20px;
            }
            & br {
                display: none;
            }
        }
    }
    .quote {
        &__desc {
            & br {
                display: none;
            }
            & span {
                margin: 0;
            }
            & svg {
                display: none;
            }
        }
    }
    .price {
        &__img {
            display: none;
        }
        &__desc {
            & br {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .desc {
        padding-bottom: 23px;
        &__banner {
            margin-top: -150px;
            border-width: 2px;
        }
        &__title {
            font-size: 20px;
            line-height: 30px;
            padding: 0;
        }
        &__subtitle {
            font-size: 14px;
            line-height: 22px;
        }
        &__links {
            margin-top: 30px;
            flex-wrap: wrap;
            &-item {
                margin-left: 15px;
                margin-right: 15px;
                margin-bottom: 18px;
            }
        }
    }
    .advantages {
        background: linear-gradient(73.3deg, #F6F7FB 11.51%, rgba(254, 254, 254, 0) 91.36%);
        &__bg-text {
            height: 200px;
            top: 270px;
        }
        &__title {
            font-size: 20px;
        }
        &__desc {
            font-size: 14px;
            line-height: 22px;
        }
        &__item {
            width: 100%;
            margin-top: 16px;
            &:nth-child(3n) {
                width: 100%;
            }
            &-title {
                & span {
                    font-size: 18px;
                }
                & strong {
                    font-size: 14px;
                }
            }
            &-desc {
                font-size: 13px;
                margin-top: 0px;
                & br {
                    display: none;
                }
            }
        }
    }
    .info {
        padding: 30px 0;
        &__title {
            font-size: 20px;
            line-height: 30px;
        }
        &__content {
            flex-wrap: wrap;
            margin-top: 12px;
            width: 100%;
            &-block {
                display: flex;
                flex-wrap: wrap;
            }
            &-left {
                width: 100%;
                margin-top: 25px;
            }
            &-list {
                width: 100%;
                & li {
                    font-size: 14px;
                    line-height: 20px;
                    padding-left: 13px;
                    &:before {
                        left: 0;
                        top: 7px;
                    }
                    &:not(:last-child) {
                        margin-bottom: 6px;
                    }
                }
            }
            &-right {
                order: -1;
            }
        }
        &__tabs {
            order: -1;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__tab {
            padding-bottom: 2px;
            line-height: 20px;
            font-size: 14px;
            margin-bottom: 10px;
        }
    }
    .quote {
        padding: 30px 0 42px;
        background-size: 144px auto;
        background-position: center bottom -15px;
        &__title {
            font-size: 20px;
            line-height: 30px;
        }
        &__desc {
            font-size: 14px;
            line-height: 22px;
            margin-top: 13px;
            padding: 0 10px;
        }
        &__author {
            font-size: 13px;
            line-height: 20px;
            margin-top: 17px;
            text-align: center;
            padding-right: 0;
        }
    }
    .price {
        padding: 30px 0 50px;
        &__title {
            font-size: 20px;
            line-height: 100%;
        }
        &__desc {
            & p {
                font-size: 15px;
                line-height: 25px;
            }
        }
    }
}