* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url(../css/fonts/Roboto-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url(../css/fonts/Roboto-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url(../css/fonts/Roboto-Regular.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url(../css/fonts/Roboto-Italic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url(../css/fonts/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url(../css/fonts/Roboto-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url(../css/fonts/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url(../css/fonts/Roboto-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url(../css/fonts/Roboto-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "Roboto";
    src: url(../css/fonts/Roboto-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Raleway Cyrillic";
    src: url(../css/fonts/Raleway-v4020-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Raleway Cyrillic";
    src: url(../css/fonts/Raleway-v4020-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Raleway Cyrillic";
    src: url(../css/fonts/Raleway-v4020-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: "Raleway Cyrillic";
    src: url(../css/fonts/Raleway-v4020-ExtraBoldItalic.ttf);
    font-weight: 800;
    font-style: italic;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    height: 100%;
}

a:hover {
    text-decoration: none;
}

img {
    border: none;
}

input {
    vertical-align: middle;
}


/**/

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
ul,
li,
a,
form {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    line-height: 1;
}

button,
input,
textarea {
    outline: none !important;
    transition: all .3s;
    &::placeholder {
        color: #a8a8a8;
    }
}

input[type=text]:focus,
input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
input:active {
    outline: none !important;
}


/*css оформление скроллбара*/

div.catalog-table-content::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 7px;
}

div.catalog-table-content::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

::-webkit-input-placeholder {
    color: #222;
}

::-moz-placeholder {
    color: #222;
}


/* Firefox 19+ */

:-moz-placeholder {
    color: #222;
}


/* Firefox 18- */

:-ms-input-placeholder {
    color: #222;
}

.transit {
    /* Safari */
    transition: all 0.4s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@media screen and (max-width: 768px) {}

html {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.4s;
    &:hover {
        text-decoration: none !important;
        color: inherit;
    }
    &:focus {
        text-decoration: none !important;
    }
}

button {
    white-space: nowrap;
    cursor: pointer;
    border: none;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

i {
    line-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

@import 'header';
@import 'footer';
@import 'index';
@import 'fi4i';
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-blue {
    background: #508CEC;
    color: #FFFFFF;
    box-shadow: 0px 11px 27px rgba(0, 0, 0, 0.03);
    &:hover {
        background: #4B79ED;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 970px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        width: 750px;
        padding: 0 15px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}